.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  background-image: url(/windows-desktop.webp);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.titleBackground {
  background-color: var(--lumiBlue);
  padding: 20px;
  border-radius: 20px;
  font-family: var(--fontFamilyHeading);
}
.title {
  color: white;
  font-weight: 400;
}
.fileExplorer {
  background-color: white;
  width: 100%;
  max-width: 900px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  border: solid 1px var(--lumiLightGrey);
  border-radius: 5px;
}
.sideBar {
  width: 100px;
  background-color: rgb(208, 211, 211);
}
.buttonContainer {
  height: 30px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.buttonRed,
.buttonYellow,
.buttonGreen {
  margin-top: 8px;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: solid 1px var(--lumiLightGrey);
}
.buttonRed {
  background-color: var(--mac-red);
}
.buttonYellow {
  background-color: var(--mac-yellow);
}
.buttonGreen {
  background-color: var(--mac-green);
}
.explorerMain {
  width: 100%;
}
.caret {
  color: var(--mac-green);
}
.lsCmd {
  width: 100%;
  background-color: var(--lumiLightGrey);
  padding: 5px 10px;
  border-radius: 5px;
}
.explorerTop {
  height: 50px;
  border-bottom: solid 1px var(--lumiLightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.explorerFooter {
  border-top: solid 1px var(--lumiLightGrey);
  height: 30px;
  text-align: center;
  width: 100%;
  display: flex;
}
.explorerFooter > p {
  width: 100%;
  margin: auto 0;
  font-size: 14px;
}
.listHeader {
  height: 30px;
  border-bottom: solid 1px var(--lumiLightGrey);
  padding: 5px 20px;
  display: flex;
}
.nameHeader {
  width: var(--fileName-width);
}
.sizeHeader {
  width: var(--fileSize-width);
}
.list {
  width: 100%;
  list-style: none;
  height: 300px;
  overflow-y: scroll;
}
.list > li {
  width: 100%;
  padding: 5px 20px;
}
.list > li:nth-child(even) {
  background-color: rgb(244, 245, 245);
}
.folder {
  color: var(--lumiBlue);
  text-decoration: underline;
  cursor: pointer;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}