.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}
.fileExplorer {
  width: 100%;
  max-width: 900px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  border: solid 1px var(--lumiLightGrey);
  border-radius: 5px;
}
.sideBar {
  width: 150px;
  background-color: rgb(208, 211, 211);
}
.buttonContainer {
  height: 30px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.buttonRed,
.buttonYellow,
.buttonGreen {
  margin-top: 8px;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: solid 1px var(--lumiLightGrey);
}
.buttonRed {
  background-color: rgb(245, 96, 87);
}
.buttonYellow {
  background-color: rgb(249, 188, 47);
}
.buttonGreen {
  background-color: rgb(72, 177, 39);
}
.explorerMain {
  width: 100%;
}
.explorerTop {
  height: 50px;
  border-bottom: solid 1px var(--lumiLightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.filePath {

}
.region {

}
.explorerFooter {
  border-top: solid 1px var(--lumiLightGrey);
  height: 30px;
}
.list {
  width: 100%;
  list-style: none;
  height: 300px;
  overflow-y: scroll;
}
.list > li {
  width: 100%;
  padding: 5px 20px;
}
.list > li:nth-child(even) {
  background-color: rgb(244, 245, 245);
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}